@charset "UTF-8";

table{
	border: 1px solid #fff;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	color : black;
}

tr {
	height: 40px;
}


/*
------------- 중앙 -------------
*/
.center {
   width: 1300px;
   margin: 0px auto 100px;
   min-height: var(--center-mh);
}



/*
------------- 페이지 이름 -------------
*/
.main_title {
	margin: 0 0 60px 36px;
}

/* 카테고리 마진 */
.category_wrap {
	margin-top: 122px;
}




/*
------------- 상단 버튼 -------------
	(box에 관계해서 고정됨)
*/
.t_btn_wrap {
	display: inline-block;
    position: absolute;
    top: -45px;
    left: 973px;
}

.write_btn {
	font-family: 'SUIT-SemiBold';
    font-size: 15px;
    line-height: 33px;
    width: 65px;
    height: 33px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: var(--btn-color);
    box-shadow: var(--btn-shadow);
    cursor: pointer;
}

.write_btn:hover, .ed_btn:hover {
	background-color: var(--btn-hover);
}


/* 
------------- 내용물 주변 마진 -------------
	(상단 버튼이 box에 관계해서 위치함)
*/
.box {
	border-top: 2px solid #808080;
    display: inline-block;
    vertical-align: top;
    margin: 0px 36px;
    position: relative;
}

/*
------------- 높이 있는 내용물 -------------
	(예를 들어 테이블. 사이즈 없으면 상위 box도 줄어듦)
*/
.inner_box {
    background-color: white;
    width: 1040px;
    border-bottom: 1px solid #bcbcbc;
}


