@charset "UTF-8";



/** 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록
   #ff8800 연한 주황
   #ff6100ff 진한 주황 
   
   버튼 색
   background-color: #8fc4df;
   
   버튼 호버 색
   background-color: #82b4cd;
   
   버튼 박스쉐도우
   box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 16%);
*/


/*
------------- 중앙 -------------
*/
.center {
   width: 1300px;
}


/* 카테고리 */
.category_wrap {
	margin-top: 126px;
}

/*
------------- 페이지 이름 -------------
*/
.main_title {
	margin: 0 0 9px 40px;
}

.main_title_txt {
   display: inline-block;
    vertical-align: top;
    width: 1000px;
    height: 20px;
    font-family: 'SUIT-Medium';
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 35px 40px;
}


.right {
   display: inline-block;
   vertical-align: top;
   width : 1090px;
}

.box{
     width: 1000px;
    background-color: white;
    border: 1px solid #e3e3e3;
    text-align: center;
    margin: 0px 0px 10px 40px;
    padding-bottom: 12px;
}

.level_title{
	text-align : left;
	margin: 20px 0px 25px;
	display : inline-block;
	vertical-align : top;
	width : 950px;
	height : 30px;
	font-size : 17px;
	font-family: 'SUIT-Bold';
	line-height : 30px;
}

.level_title a {
	padding : 0px 30px;
	color: #707070;
}

.icon_wrap {
	font-size: 0px;
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 180px;
    margin: 17px;
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 1px 1px 5px -1px #ccc;
    cursor: pointer;
}

.icon_wrap:hover {
    box-shadow: 1px 1px 5px -1px #a3a3a3;
    border: 1px solid #8b8b8b;
	
}

.icon_img {
   display: inline-block;
   vertical-align: top;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   margin: 10px;
}

.icon_img img {
   width: 100px;
   height: 100px;
   object-fit: cover;
}


.icon_img div {
   	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}



.icon_name {
	display : inline-block;
	vertical-align : top;
	width : 100px;
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	font-family: 'SUIT-SemiBold';
}

.icon_price {
	display : inline-block;
	vertical-align : top;
	width : 100px;
	height: 22px;
	font-size: 13px;
	line-height: 22px;
	font-family: 'SUIT-Medium';
    color: #ff6100ff;
}

.buy_box{
	text-align: center;
    margin-bottom: 20px;
}

.buy_btn{
   display: inline-block;
   vertical-align:top;
   background-color: #8fc4df;
   font-family:'SUIT-Bold';
   font-size : 16px;
   line-height : 34px; 
   width : 80px;
   margin: 10px 0px 10px 0px;
   text-align : center;
   border-radius : 5px;
   color : white;
   cursor: pointer;
   box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 16%);
}

.buy_btn:hover {
	background-color: #82b4cd;
}

.mileage_box{
   text-align: center;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px -1px #ccc;
    width: 450px;
    height: 43px;
    margin: 0 auto;
    background-color: #f9f9f9;
    line-height: 43px;
    font-size: 16px;
}

.mileage{
    display: inline-block;
    vertical-align: top;
    font-family: 'SUIT-Medium';
    color: #484848;
    margin: 0px 30px;
}

.total_mile{
   display: inline-block;
    width: 200px;
    background-color: white;
    font-family: 'SUIT-SemiBold';
    color: #ff6100ff;
    margin: 7px;
    height: 29px;
    line-height: 29px;
}

