@charset "UTF-8";


/** 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록
   #ff8800 연한 주황
   #ff6100ff 진한 주황 
   
   버튼 색
   background-color: #8fc4df;
   
   버튼 호버 색
   background-color: #82b4cd;
   
   버튼 박스쉐도우
   box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 16%);
*/

/*
------------- 중앙 -------------
*/

.center {
   width: 1300px;
}



.box{
	display: inline-block;
	vertical-align: top;
     width: 1000px;
    background-color: white;
    border: 1px solid #e3e3e3;
    margin-left: 54px;
}



/* 카테고리 */
.category_wrap {
	margin-top: 126px;
}

/*
------------- 페이지 이름 -------------
*/
.main_title {
	margin: 0 0 9px 54px;
}

.main_title_txt {
   display: inline-block;
    vertical-align: top;
    width: 1000px;
    height: 20px;
    font-family: 'SUIT-Medium';
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 35px 54px;
}


.grade_title{
	margin-top: 30px;
    display: inline-block;
    vertical-align: top;
    width: 950px;
    height: 30px;
    font-size: 17px;
    font-family: 'SUIT-SemiBold';
    line-height: 30px;
    padding-left: 50px;
	color: #555;
}

.grade_title span {
	margin-left: 10px;
	font-size: 10px;
}

.grade_box{
	text-align : center;
	display : inline-block;
	vertical-align: top;
	height : 300px; 
	width : 600px;
	margin-top: 15px;
}

.grade {
	display : inline-block;
	vertical-align: top;
	height : 80px; 
	width : 500px;
	margin-top: 15px;
	font-size : 15px;
	font-family: 'SUIT-SemiBold';
	line-height: 80px;
	border : 1px solid lightgray;
}

.grade:nth-child(1) {
	color: #38761d;
	background-color: #DCDCDC;
}
.grade:nth-child(2) {
   color: #c27ba0;
   border : 1px solid #8fc4df;
}
.grade:nth-child(3) {
   color: #674ea7;
}

.us_status {
	display: inline-block;
    vertical-align: top;
    width: 337px;
    height: 274px;
    margin-top: 30px;
    border: 1px solid #bbb;
    border-radius: 10px;
    box-shadow: 1px 1px 5px -1px #ccc;
    text-align: center;
}

.us_inner {
	display: inline-block;
    vertical-align: top;
    width: 126px;
    height: 94px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin: 50px 0px 10px;
}

.us_icon {
	display: inline-block;
    vertical-align: top;
    height: 90px;
    margin: 46px 0px 18px;
    text-align: center;
}

.us_icon img {
	width: 90px;
	height: 90px;
	display: inline-block;
}

.us_id {
	display : inline-block;
	vertical-align : top;
	color: #c27ba0;
	line-height: 35px;
	font-size : 17px;
	font-family: 'SUIT-Bold';
	text-align: center;
}

.us_info {
	font-family: 'SUIT-SemiBold';
	width: 140px;
	height: 40px;
}

.grade_color {
	display : inline-block;
	vertical-align : top;
	width: 25px;
	height: 12px;
	background-color : #38761d;
	margin-top : 3.2px; 
	border : 0.8px solid #a5a5a5;
}

.mileage_box{
   text-align: center;
}

.mileage{
	display: inline-block;
    vertical-align: top;
    width: 244px;
    background-color: #f9f9f9;
    font-family: 'SUIT-SemiBold';
    font-size: 14px;
    color: #565656;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px -1px #ccc;
    padding: 10px 0;
}

.total_mile{
   display: inline-block;
    vertical-align: top;
    width: 137px;
    height: 28px;
    background-color: white;
    line-height: 28px;
    border-radius: 5px;
    color: #ff6100ff;
    margin: 3px 24px;
}

.btn_wrap {
	height: 40px;
	text-align: center;
	margin: 30px 0px;
}

.buy_btn{
   display: inline-block;
   vertical-align:top;
   background-color: var(--btn-color);
   font-family:'SUIT-SemiBold';
   font-size : 16px;
   line-height : 34px;
   width : 80px;
   text-align : center;
   border-radius : 5px;
   color: white;
   cursor: pointer;
   box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 16%);
}

.buy_btn:hover {
	background-color: var(--btn-hover);
}

