@charset "UTF-8";


td, tr {
   font-family: 'SUIT-Light';
   height: 50px;
   width: 300px;
   text-align: center;
   font-weight: bolder;
}

td:nth-child(1) {
   font-size: 20px;
   background-color: rgba(108, 175, 217, 0.3);
}

tr:nth-child(1) {
   font-size: 20px;
}
/*나머지 자식들 n+2*/
tr:nth-child(n+2) {
   font-size: 17px;
}

/*
------------- 중앙 -------------
*/
.center {
   width: 1300px;
}


.box {
   display: inline-block;
    vertical-align: top;
    width: 990px;
    height: 450px;
    background-color: white;
    border: 1px solid #e3e3e3;
    margin-left: 60px;
}

.category_wrap {
	margin-top: 112px;
}

.main_title {
   margin: 0 0 50px 60px;
}

.title_icon{
   display: inline-block;
   vertical-align: top; 
   width: 25px; 
   height: 25px;
    margin: 25px 5px 0px 0px;
   background: url('../../images/info.png') no-repeat 0/25px;
}
.box_con {
   font-family: 'SUIT-light';
   font-size: 15px;
   vertical-align: top;
   height: 240px;
   margin-top: 55px;
   text-align: center;
   color : black;
}

.box_btn {
   font-family: 'SUIT-light';
   font-size: 17px;
   color: white;
   vertical-align: top;
   height: 50px;
   text-align: center;
   margin-top: 25px;
}

.btn1, .btn2 {
   display : inline-block;
   vertical-align : top;
   width: 130px;
   height: 50px;
   border: none;
   font-size: 18px;
   font-family: 'SUIT-bold';
   border-radius:5px;
   color: white;
   line-height: 50px;
   margin-right: 10px;
   cursor: pointer;
}

.btn1 {
   background-color : var(--btn-color);
	
}

.btn2 {
   background-color: #D5F2F2;
   color : #808080;
}

.btn1:hover {
   background-color: var(--btn-hover);
}

.btn2:hover {
   background-color: #c9e9e9;
}

.input_wrap {
   display: inline-block;
   vertical-align: top;
   width: 300px;
   height: 35px;
   text-align: left;
   background-color:white;
   text-align: center;
   border : 1px solid #dadada;
   padding: 6px 0px 0px 0px;
   border-radius: 6px;
   box-shadow: 0 2px 6px 0 rgb(68 68 68 / 8%);
}

.pw_input {
   width:250px;
   padding-right: 10px;
   height: 30px;
   line-height: 30px;
   font-size: 14px;
   border: none;
   background-color:white;
   outline: none;
}