@charset "UTF-8";

/* 샘플 스타일 2 */


/**{font-family: 'SUIT-Medium','SUIT-Light';} 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록 */

tbody td:nth-child(3) {
	text-align: left !important;
}

.box td, .box th {
    display: table-cell;
    text-align: left;
    margin-top: px;
    padding: 2px 10px;
    text-align: center;
}

.box table {
    background-color: white;
	width: 100%;
    border-bottom: 1px solid #bcbcbc;
}

.box td {
	border-collapse: collapse;
	text-indent: initial;
    border-spacing: 2px;
	height: 96px;
}

.box a:hover {
	font-family: 'SUIT-Medium';
}

.box table thead tr th {
    height: 45px;
    font-family: 'SUIT-SemiBold';
    font-size: 16px;
    border-bottom: 1px solid #e6e7e8;
}


.center {
	width: 1300px;
}

.category_wrap {
	margin-top: 123px;
}

.right {
	background-color:white;
	display: inline-block;
	vertical-align: top; 
	width: 1117px;
	position: relative;
}



.main_title {
	margin: 0 0 60px 70px;
}

.title_icon {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 50px;
	line-height: 50px;
	margin-top: 2px;
}

.t_btn_wrap {
	display: inline-block;
    position: absolute;
    top: -45px;
    left: 959px;
}

.del_btn {
	font-family: 'SUIT-SemiBold';
    font-size: 15px;
    line-height: 33px;
    width: 85px;
    height: 33px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: var(--btn-color);
    cursor: pointer;
    box-shadow: var(--btn-shadow);
}

.del_btn:hover {
	background-color: var(--btn-hover);
}

.box {
	display: inline-block;
	vertical-align: top;
	width: 975px;
	background-color: white;
	border-top: 1px solid black;
	margin: 0px 70px;
}

.box  table tbody tr td img {
	width: 80px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    margin: 13px;
    object-fit: cover;
}

