@charset "UTF-8";

/*2*/


/**{font-family: 'SUIT-Medium','SUIT-Light';} 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록 */

td, tr {
	height: 50px;
	width: 500px;
	text-align: center;
	font-weight: bolder;
	border-bottom: 1px solid #D5F2F2;
}


td:nth-child(1) {
	font-size: 20px;
	background-color: rgba(108, 175, 217, 0.3);
}

tr:nth-child(1) {
	font-size: 20px;
}
/*나머지 자식들 n+2*/
tr:nth-child(n+2) {
	font-size: 17px;
}



.right {
	display: inline-block;
	vertical-align: top;
}

.center {
	display: block;
	width: 1300px;
	height: 100%;
	margin: 0px auto;
}



/* 
------------- 왼쪽 카테고리 -------------
*/
.category_wrap {
	height: 100%;
    width: 183px;
    padding-top: 2px;
    display: inline-block;
}

.menu_name, .category1, .category2 {
	display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 41px;
    border: 1px solid #A9A9A9;
    line-height: 41px;
    cursor: pointer;
    margin-bottom: -1px;
}

.menu_name {
	background-color: hsl(203deg 59% 92%);
    font-family: 'SUIT-SemiBold';
    font-size: 16px;
    text-indent: 15px;
}

.category1, .category2 {
    border-right: 1px solid #A9A9A9;
    font-family: 'SUIT-Medium';
    font-size: 15px;
    text-indent: 20px;
}

.lower_category {
	font-size: 14px;
    width: 160px;
    border: 1px solid #A9A9A9;
    display: none;
    overflow: hidden;
    z-index: 9998;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin: 0 0 -1px 0;
}

.lower_category li {
    font-family: 'SUIT-Light';
	margin-top: 12px;	
	cursor: pointer;
}

.menu_name:hover {
	background-color: hsl(203deg 59% 88%);
}

.category1.on.category1, .category2.on.category2 {
	background-color: hsl(203deg 59% 97%);
    font-family: 'SUIT-SemiBold';
}

.category1:hover, .category2:hover {
	background-color: hsl(203deg 59% 97%);
    font-family: 'SUIT-SemiBold';
}

.lower_category li:hover {
	font-family: 'SUIT-Medium';
}




.box {
	display: inline-block;
    vertical-align: top;
    width: 1050px;
    height: 600px;
    border: 1px solid #ebebeb;
    margin: 0px 0px 20px 64px;
    background-color: white;
	
	
}

.main_title {
	margin: 2px 0 60px;
    width: 165px;
    height: 60px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'SUIT-SemiBold';
    border-bottom: 4px solid #6cafd9;
    padding-left: 10px;
    margin-left: 252px;
}

.title_icon {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 50px;
	line-height: 50px;
	margin-top: 2px;
}

.favo {
	display: inline-block;
	vertical-align: top;
	width: 330px;
	height: 600px;
	margin: 25px 10px 25px 10px; 
}
.favo_name{
	display: inline-block;
    vertical-align: top;
    font-family: 'SUIT-Medium';
    font-size: 18px;
    width: 280px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    margin-left: 15px;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
	
}
.favo_logo{
	display: inline-block;
	vertical-align: top;
	margin-top: 5px; 
}
.market {
	display: inline-block;
	vertical-align: top;
	width: 280px;
	height: 100px;
	margin: 15px;
	background-color: #f9f9f9;
	border-radius: 5px; 
}
.market_name{
	font-family: 'SUIT-Medium';
    display: inline-block;
    vertical-align: top;
    width: 204px;
    height: 50px;
    font-size: 16px;
    line-height: 66px;
    color: #6c6c6c;
    margin-left: 24px;
    border-radius: 5px;
	cursor: pointer;
}

.market_name:hover {
	text-decoration: underline;
	font-family: 'SUIT-SemiBold';
}

.market_addr{
	font-family: 'SUIT-medium';
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 35px;
    margin-left: 24px;
    font-size: 12px;
    line-height: 8px;
    color: #979797;
    border-radius: 5px;
	
}
.market_like{
	display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    margin-top: 16px;
}	

.market_like img {
	width: 27px;
	height: 27px;
	cursor: pointer;
}


.map {
	vertical-align: top;
	display: inline-block;
	height: 550px;
	width: 630px;
	background-color: white;
	margin: 25px;
} 

