@charset "UTF-8";

/*2*/


/**{font-family: 'SUIT-Medium','SUIT-Light';} 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록 */

td, tr {
	font-family: 'SUIT-Light';
	height: 50px;
	width: 500px;
	text-align: center;
	font-weight: bolder;
	border-bottom: 1px solid #D5F2F2;
}


td:nth-child(1) {
	font-size: 20px;
	background-color: rgba(108, 175, 217, 0.3);
}

tr:nth-child(1) {
	font-size: 20px;
}
/*나머지 자식들 n+2*/
tr:nth-child(n+2) {
	font-size: 17px;
}


.right {
	display: inline-block;
	vertical-align: top;
	width: 1090px;
	height: 750px;
}

.center {
	width: 1300px;
}


/* 
------------- 왼쪽 카테고리 -------------
*/
.category_wrap {
	margin-top: 124px;
}

.box {
	display: inline-block;
	vertical-align: top;
	width: 950px;
	height: 380px;
	background-color: white;
	border: 1px solid black;
	margin: 0px 70px 20px 70px;
}

.main_title {
	margin: 0 0 60px 70px;
}

.title_icon {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 50px;
	line-height: 50px;
	margin-top: 2px;
}

.b_btn {
	text-align: right;
    padding-right: 70px;
}

.update_btn {
	display: inline-block;
    background-color: var(--btn-color);
    box-shadow: var(--btn-shadow);
    border-radius: 4px;
    width: 83px;
    height: 35px;
    font-size: 17px;
    border: none;
    color: white;
    margin-left: 10px;
    font-family: 'SUIT-SemiBold';
}
