@charset "UTF-8";

/*2*/


/**{font-family: 'SUIT-Medium','SUIT-Light';} 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록 */
/* 
td, tr {
	font-family: 'SUIT-Light';
	height: 50px;
	width: 500px;
	text-align: center;
	font-weight: bolder;
	border-bottom: 1px solid #D5F2F2;
}


td:nth-child(1) {
	font-size: 20px;
	background-color: rgba(108, 175, 217, 0.3);
}

tr:nth-child(1) {
	font-size: 20px;
}
나머지 자식들 n+2
tr:nth-child(n+2) {
	font-size: 17px;
}


 */

/* 
------------- 왼쪽 카테고리 -------------
*/
.category_wrap {
	height: 100%;
    width: 183px;
    padding-top: 2px;
    display: inline-block;
}

.menu_name, .category1, .category2 {
	display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 41px;
    border: 1px solid #A9A9A9;
    line-height: 41px;
    cursor: pointer;
    margin-bottom: -1px;
}

.menu_name {
	background-color: hsl(203deg 59% 92%);
    font-family: 'SUIT-SemiBold';
    font-size: 16px;
    text-indent: 15px;
}

.category1, .category2 {
    border-right: 1px solid #A9A9A9;
    font-family: 'SUIT-Medium';
    font-size: 15px;
    text-indent: 20px;
}

.lower_category {
	font-size: 14px;
    width: 160px;
    border: 1px solid #A9A9A9;
    display: none;
    overflow: hidden;
    z-index: 9998;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    margin: 0 0 -1px 0;
}

.lower_category li {
    font-family: 'SUIT-Light';
	margin-top: 12px;	
	cursor: pointer;
}

.menu_name:hover {
	background-color: hsl(203deg 59% 88%);
}

.category1.on.category1, .category2.on.category2 {
	background-color: hsl(203deg 59% 97%);
    font-family: 'SUIT-SemiBold';
}

.category1:hover, .category2:hover {
	background-color: hsl(203deg 59% 97%);
    font-family: 'SUIT-SemiBold';
}

.lower_category li:hover {
	font-family: 'SUIT-Medium';
}



.center {
	display: block;
	width: 1300px;
	min-height: calc(100% - 256px);
	margin: 0px auto;
	padding-bottom: 80px;
}


.main_title {
	margin: 2px 0 60px 266px;
    width: 165px;
    height: 60px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'SUIT-SemiBold';
    border-bottom: 4px solid #6cafd9;
    padding-left: 10px;
}
.main_title_logo{
	display: inline-block;
	vertical-align: top;
	width: 100px;
	height: 200px;
	margin-right: 80px;
}

.title_icon {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 50px;
	line-height: 50px;
	margin-top: 2px;
}

.right {
	display: inline-block;
    vertical-align: top;
}


.box_wrap {
	display: inline-block;
    vertical-align: top;
    background-color: white;
    margin: 0px 83px 20px;
}

.box_left {
	display: inline-block;
    vertical-align: top;
    width: 292px;
    height: 494px;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-top: 1px solid #d3d3d3;
    padding: 57px 40px 0;
}

.left_top {
	display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 177px;
    font-size: 15px;
}

.left_bottom {
	display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 177px;
    font-family: 'SUIT-SemiBold';
    font-size: 18px;
    line-height: 34px;
    margin-left: 20px;
    color: #646464;
}

.left_bottom span {
	font-size: 15px;
    width: 100%;
    font-family: 'SUIT-Medium';
    margin-left: -3px;
}

.my_icon {
	display: inline-block;
    vertical-align: top;
    width: 170px;
    height: 170px;
    margin: 0px 59px;
    font-size: 14px;
    font-family: 'SUIT-SemiBold';
    line-height: 170px;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 20px;
}

.my_icon img {
	width: 125px;
    height: 120px;
    display: inline-block;
    vertical-align: middle;
	transition: all ease 1s;
    border-radius: 50px;
}

.my_icon img:hover {
	transform : rotate(360deg);
}

.my_name {
	display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 102px;
    margin: 0px 5px;
    font-size: 20px;
    font-family: 'SUIT-SemiBold';
    text-align: center;
    margin: 12px 0;
}

.my_name span {
	font-size: 14px;
    margin-left: 5px;
    display: inline-block;
    color: #383838;
    font-family: 'SUIT-Light';
}

.my_name input {
	color: white;
    background-color: var(--button-color);
    border: none;
    height: 36px;
    font-size: 16px;
    width: 121px;
    border-radius: 5px;
    font-family: 'SUIT-SemiBold';
    margin: 15px 70px;
    cursor: pointer;
}

.my_name input:hover {
	background-color: var(--hover-color);
}

.box_right {
	display: inline-block;
	vertical-align: top;
	width: 577px;
	height: 550px;
	background-color: white;
}
.right_inner {
	display: inline-block;
	vertical-align: top;
	width: 575px;
	height: 183px;
	border-top: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
}

.right_inner:nth-child(3) {
	border-bottom: 1px solid #d3d3d3;
	
}

.cate_info {
	display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 154px;
    padding: 27px 0 0 32px;
}

.ci_title {
	display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 40px;
    font-family: 'SUIT-SemiBold';
    font-size: 18px;
    color: var(--hover-color);
}

.ci_txt {
	display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 40px;
    font-family: 'SUIT-Medium';
    font-size: 13px;
    color: #7b7b7b;
	
}
.ci_status {
	display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 80px;
    font-size: 15px;
    font-family: 'SUIT-Medium';
    line-height: 24px;
    margin-top: 5px;
}

.cate_icon_wrap {
	display: inline-block;
    vertical-align: top;
    width: 189px;
    height: 180px;
}

.cate_icon {
	display: inline-block;
    text-align: center;
    margin: 54px 60px;
}

.cate_icon img {
	width: 70px;
    height: 70px;
    opacity: .7;
}

.right_inner:nth-child(1) img {
	opacity: 1;
}


.revise {
	width: 70px;
	height: 50px;
	background-color: yellow;
	text-align: center;
	line-height: 50px;
}


