@charset "UTF-8";


/** 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록
   #ff8800 연한 주황
   #ff6100ff 진한 주황 
   
   버튼 색
   background-color: #8fc4df;
   
   버튼 호버 색
   background-color: #82b4cd;
   
   버튼 박스쉐도우
   box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 16%);
*/


.center {
	width: 1300px;
}

.category_wrap {
	margin-top: 122px;
}


.right {
	display: inline-block;
    vertical-align: top;
    width: 1117px;
    position: relative;
}


.main_title {
	margin: 0 0 60px 45px;
}

.title_icon {
	display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    margin-top: 21px;
}



/*
------------- 상단 버튼 -------------
	(right에 관계해서 고정됨)
*/
.t_wrap {
	display: inline-block;
    position: absolute;
    top: -45px;
    left: 998px;
}

.write_btn {
	font-family: 'SUIT-SemiBold';
    font-size: 15px;
    line-height: 33px;
    width: 60px;
    height: 33px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #8fc4df;
    cursor: pointer;
    box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 16%);
}

.write_btn:hover {
	background-color: #82b4cd;
}



.box {
	display: inline-block;
    vertical-align: top;
    width: 1017px;
    background-color: white;
    margin-left:45px;
    border-top: 1px solid #808080;
}

.box span {
	font-size: 13px;
	color: #b3b3b3;
	line-height: 39px;
	margin-left: 5px;
}


.box table {
    background-color: white;
	width: 1017px;
    border-bottom: 1px solid #bcbcbc;
}

tbody td:nth-child(3) {
	text-align: left !important;
}

.box td, .box th {
    display: table-cell;
    text-align: center;
    padding: 2.5px 10px;
	border-collapse: collapse;
	text-indent: initial;
    border-spacing: 2px;
	height: 39px;
	line-height: 39px;
}

.box a:hover {
	font-family: 'SUIT-Medium';
}

.box table thead tr th {
    height: 45px;
    font-family: 'SUIT-SemiBold';
    font-size: 16px;
    border-bottom: 1px solid #e6e7e8;
}





.thead {
	height: 60px;
	font-size: 18px;
	font-family: 'SUIT-medium';
	text-align: center;
	line-height: 60px;
	border-bottom: 1px solid #D5F2F2;
}

.thead_title1 {
	display: inline-block;
	vertical-align: top;
	height: 60px;
	width: 630px;
}

.thead_title2 {
	display: inline-block;
	vertical-align: top;
	height: 60px;
	width: 135px;
}

.thead_title3 {
	display: inline-block;
	vertical-align: top;
	height: 60px;
	width: 100px;
}

.tbody {
	height: 40px;
	font-size: 14px;
	font-family: 'SUIT-medium';
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #D5F2F2;
}

.tbody_1 {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	width: 70px;
}

.tbody_2 {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	height: 40px;
	width: 630px;
}

.tbody_3 {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	width: 135px;
}

.tbody_4 {
	display: inline-block;
	vertical-align: top;
	height: 40px;
	width: 100px;
}

.tfoot {
	height: 60px;
	font-size: 16px;
	font-family: 'SUIT-medium';
	line-height: 60px;
	margin-top: 20px;
}

.tfoot_1 {
	display: inline-block;
	vertical-align: top;
	font-family: 'SUIT-medium';
	height: 60px;
	width: 74px;
}

.tfoot_2 {
	display: inline-block;
	vertical-align: top;
	height: 60px;
	width: 200px;
	text-align: center;
}

.revise {
	margin-right: 100px;
	height: 60px;
	text-align: center;
	line-height: 50px;
}

.search_select {
	width: 130px !important;
}