@charset "UTF-8";

/** 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록
   #ff8800 연한 주황
   #ff6100ff 진한 주황 
   
   버튼 색
   background-color: #8fc4df;
   
   버튼 호버 색
   background-color: #82b4cd;
   
   버튼 박스쉐도우
   box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 16%);
*/


table {
   border-collapse : collapse;
   width : 879px;
}

tr:nth-child(n+1){
   border-bottom : 1px solid lightgray;
}

thead{
   display : block;
}

tbody{
   display : block;
   width : 910px;
   height : 317px;
   overflow : auto;
}

td {
   display : table-cell;
   vertical-align : inherit;
   height : 50px;
   width : 150px;
   text-align: center;
   margin : 0px;
   font-size : 15px;
   font-family: 'SUIT-Light';
   background-color : white;
   
}

th {
   border-left : 1px solid white;
   display : table-cell;
   vertical-align : inherit;
   height : 50px;
   width : 150px;
   font-size : 17px;
   font-family: 'SUIT-Bold';
   text-align: center;
   margin : 0px;
   background-color : white;
   color : #282828;
}



.center {
   width: 1100px;
}

.logo {
   display: inline-block;
   vertical-align : middle; 
}

.icon_line {
   text-align: center;
    width: 100%;
    display: inline-block;
    margin: 11px 0 6px;
}

.icon_box {
   display : inline-block;
   vertical-align: top;
   width : 80px;
   margin : 0px 15px;
}

.icon {
   display: inline-block;
    vertical-align: top;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    border: 0.8px solid #ababab;
    box-shadow: 1px 1px 5px -0.5px #ccc;
    cursor: pointer;
    line-height: 76px;
    position: relative;
}

.icon_cover {
   display: inline-block;
    vertical-align: top;
    height: 80px;
    width: 80px;
    border-radius: 50%;
   background-color: #ddd;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
}

.icon:hover .icon_cover {
   opacity: .2;
}


.icon img {
   height: 60px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

.icon_name {
   display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 80px;
    margin-top: 7px;
    font-size: 12px;
    font-family: 'SUIT-SemiBold';
    line-height: 20px;
}

.box_icon {
   display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    margin: 119px 23px 7px;
    text-align: center;
    line-height: 159px;
}

.box_icon img {
   width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
}

.main_title2 {
   margin: 0 0 47px 36px;
    height: 60px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'SUIT-SemiBold';
    border-bottom: 4px solid var(--btn-color);
    display: inline-block;
    padding: 0 30px 0 10px;
}


.box1 {
   height: 440px;
    margin: 30px 35px 0px 35px;
    padding-bottom: 30px;
}

.box_line {
}

.select_box {
   display: inline-block;
    vertical-align: top;
    margin: 9px 10px 0px 0px;
    font-size: 15px;
    line-height: 28px;
    padding: 0px 10px;
    text-align: left;
    height: 33px;
    color: #000;
    border: 1px solid #ccc;
    font-family: 'SUIT-Light';
    border-radius: 2px;
    
}

.box_line2 {
   height: 370px;
    width: 1028px;
    margin-top: 20px;
    border: 1px solid #d7d7d7;
}

.store {
   display: inline-block;
    vertical-align: top;
    height: 430px;
    width: 878px;
} 

.store_info {
   display : inline-block;
   vertical-align : top;
   height: 40px;
   width :110px;
   margin : 10px 50px;
}

.store_item {
   display: inline-block;
    vertical-align: top;
    height: 370px;
    width: 148px;
    margin: 0px;
    background-color: #f7f7f7;
    border-right: 1px solid #d7d7d7;
}


.item_name {
   display : inline-block;
   vertical-align : top;
   height: 30px;
   width :100%;
   margin : 0px;
   font-size : 15px;
   line-height : 28px;
   text-align: center;
   font-family: 'SUIT-SemiBold';
   color : #383838;
}

.add_btn:hover {
background-color : var(--btn-hover);
}

.add_btn {
   display: inline-block;
   vertical-align: top;
   width: 70px;
   height: 30px;
   margin: 10px 20px 10px 10px;
   font-size : 14px;
   background-color: var(--btn-color);
   box-shadow: var(--btn-shadow);
   line-height : 26px;
   border-radius : 4px;
   font-family: 'SUIT-SemiBold';
   color : white;
   border-width: 0px;
   cursor: pointer;
}