@charset "UTF-8";

/** 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록
   #ff8800 연한 주황
   #ff6100ff 진한 주황 */



table {
	width : 980px;
}

th{
	height: 55px;
    display: table-cell;
    vertical-align: inherit;
    text-align: -internal-center;
    font-size: 16px;
    font-family: 'SUIT-SemiBold';
    color: #4d4848;
    border-bottom: 1px solid #dfdfdf;
    font-weight: normal;
    
}


td {
   display: table-cell;
   vertical-align: inherit;
   height : 50px;
   text-align: center;
   font-size: 15px;
}


.center {
   width: 1300px;
}

.main_title {
    margin: 0 0 60px 57px;
}

.main_title_txt {
   display: inline-block;
   vertical-align: top;
   width : 1000px;
   height : 20px;
   font-family :'SUIT-Light';
   font-size : 13px;
   line-height : 20px;
   margin-left : 80px;
}

.category_wrap {
	margin-top: 123px;
}


.right {
   display: inline-block;
   vertical-align: top;
   width : 1090px;
   position: relative;
}


.btn_wrap {
   display: inline-block;
    vertical-align: top;
    height: 40px;
    text-align: right;
    width: 982px;
    position: absolute;
    top: -41px;
    right: 49px;
}

.ed_btn {
   display:inline-block;
   vertical-align:top;
   font-family:'SUIT-SemiBold';
   font-size : 16px;
   line-height : 32px;
   width : 56px;
   text-align : center;
   color : white;
   border-radius : 5px;
   background-color : var(--btn-color);
   cursor: pointer;
   margin-right: 10px;
   text-align: center;
}

.ed_btn:hover {
	background-color: var(--btn-hover);
}

.box{
    width: 980px;
    background-color: white;
    border: 1px solid #c2c2c2;
    margin: 0px 55px 20px;
}
