@charset "UTF-8";



table {
	width :1098px;
    margin: 0 auto;
    border: 1px solid #c2c2c2;
    border-collapse: collapse;
    
}

th{
    height: 55px;    
    display: table-cell;
    vertical-align: inherit;
    text-align: -internal-center;
    font-size: 16px;
    font-family: 'SUIT-SemiBold';
    color: #4d4848;
    border-bottom: 1px solid #dfdfdf;
    font-weight: normal;
}

td {
   text-align: center;
   height: 50px;
   font-size: 15px;
}

td:nth-child(5) {
	text-align: left;
	text-indent: 10px;
}

.center {
   width: 1100px;
   position: relative;
}

.title_wrap {
	display: inline-block;
    vertical-align: top;
    height: 60px;
    line-height: 60px;
    margin-top: 17px;
}

.title_wrap span {
	display: inline-block;
    vertical-align: top;
    font-family: 'SUIT-SemiBold';
    font-size: 20px;
    color: #383838;
}

.title_wrap img {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: top;
	margin: 15px 10px 0 0;
}

.cart_date {
	height: 20px;
    font-family: 'SUIT-Medium';
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    color: #808080;
}


.list_back {
	height: 35px;
    font-family: 'SUIT-Medium';
    line-height: 35px;
    cursor: pointer;
    margin-top: 32px;
    background-color: #f6f6f6;
    border-radius: 4px;
}

.list_back img {
	width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 8px 10px;
    transform: rotate(-90deg);
}

.list_back span {
    color: #545454;
    display: hidden;
    font-size: 0;
}

.list_back:hover {
	width: 190px;
	/* background-color: #f5f5f5;	
	color: #333; */
}

.list_back:hover span {
	display: inline-block;
    font-size: 17px;
}
	
.box{
    margin-top: 45px;
    display: inline-block;
    vertical-align: top;
}
 

/* 
.btn_wrap {
   display: inline-block;
    vertical-align: top;
    height: 40px;
    text-align: right;
    width: 982px;
    position: absolute;
    top: 120px;
    right: 55px;
}

.ed_btn {
   display:inline-block;
   vertical-align:top;
   font-family:'SUIT-SemiBold';
   font-size : 16px;
   line-height : 32px;
   width : 56px;
   text-align : center;
   color : white;
   border-radius : 5px;
   background-color : var(--btn-color);
   cursor: pointer;
   margin-right: 10px;
   text-align: center;
   box-shadow: var(--btn-shadow);
}

.ed_btn:hover {
	background-color: var(--btn-hover);
}
 */
.tprice{
	height: 70px;
    font-size: 20px;
    text-align: left;
    margin: 25px 16px;
}

.tprice p {
	font-size: 17px;
    margin: 15px 0;
    font-family: 'SUIT-Medium';
}

.tprice img {
	width: 25px;
    height: 25px;
    margin-right: 7px;
}

.tprice span {
	font-size: 19px;
    color: #7e7e7e;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

.b_btn_wrap {
	text-align: center;
}

.img_btn, .b_btn {
	display: inline-block;
    vertical-align: top;
    width: 160px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: var(--btn-color);
    font-family: 'SUIT-SemiBold';
    border-radius: 4px;
    text-align: center;
    margin: 5px;
    font-size: 17px;
    cursor: pointer;
    box-shadow: var(--btn-shadow);
}

.b_btn {
	width: 63px;
}

.img_btn:hover, .b_btn:hover {
	background-color: var(--btn-hover);
}


