@charset "UTF-8";


/*
	중앙
*/
.center {
   width: 1300px;
}

/*
	페이지 이름
*/
.main_title {
	margin: 0 0 40px 37px;
}

.category_wrap {
	margin-top: 105px;
}


/* 
------------- 내용물 주변 마진 -------------
	(상단 버튼이 box에 관계해서 위치함)
*/
.box {
	border-top: 1px solid #bcbcbc82;
    display: inline-block;
    vertical-align: top;
    margin: 0px 36px;
    position: relative;
}

/*
------------- 높이 있는 내용물 -------------
	(예를 들어 테이블. 사이즈 없으면 상위 box도 줄어듦)
*/
.inner_box {
    width: 1040px;
    height: 600px;
    border-bottom: 1px solid #bcbcbc82;
}

.none_item {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}

.none_item .msg {
    display: block;
    padding-top: 70px;
    font-size: 15px;
    text-align: center;
    color: #7B7F87;
    line-height: 22px;
    font-weight: normal;
}

.none_item .btn_action {
    width: 200px;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    padding: 13px 0 12px;
    display: block;
    margin: 27px auto;
    background-color: hsl(203deg 59% 97%);
    border-radius: 5px;
    cursor: pointer;
}
