@charset "UTF-8";


/** 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록
   #ff8800 연한 주황
   #ff6100ff 진한 주황 */


.cmn_btn_mr {
   background-color: var(--btn-color);
   cursor: pointer;
   margin-right: 10px;
   width: 55px;
   color: white;
   font-family: 'SUIT-SemiBold';
   border-radius:5px;
   cursor: pointer;
}

.cmn_btn_mr:hover {
	background-color: var(--btn-hover);
}

.board_detail_table tbody tr {
   border-bottom: 1px solid #d7d7d7;
   height: 40px;
   text-align: center;
   color: #7b7b7b;
   font-size: 12pt;
}


.center {
   width: 1300px;
}


.main_title {
    margin: 0 0 50px 82px;
}

.box {
   display: inline-block;
    vertical-align: top;
    width: 950px;
    /* position: relative; */
    margin: 0 80px;
}

.category_wrap {
	margin-top: 113px;
}

/* 
.save_btn {
    font-family: 'SUIT-SemiBold';
    font-size: 15px;
    line-height: 33px;
    width: 68px;
    height: 33px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #6cafd9;
    cursor: pointer;
    position: absolute;
    top: -42px;
    right: 70px;
}
 */
.mini_box{
    background: rgb(255, 255, 255);
    padding: 20px 20px 10px;
    margin: 0px 0px 2px 0px;
    border: 1px solid #cacaca;
    box-shadow: rgb(18 18 18 / 6%) 0px 0px 5px 1px;
}

.msg{
   color : #28323c ;
   font-size: 18px;
   font-weight:regular;
   font-family:'SUIT-SemiBold';
   margin-top: 15px;
}

.price_box{
   width: 100%;
   margin: 20px 0px 20px 0px;
}

.tprice1, .tprice2{
   display: inline-block;
    vertical-align: top;
    font-size: 17px;
    margin-right: 4px;
}

.tprice1{
   color: rgb(170, 175, 185);
}

.selbox{
   width:100%;
   line-height: 35px;
   margin-bottom: 10px;
}

.selbox img{
   display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.all_sel{
   display: inline-block;
    vertical-align: top;
    font-family: 'SUIT-Medium';
    font-size: 15px;
    margin: 0 5px;
    color: #808080;
}


.sel_btn {
   display: inline-block;
    vertical-align: top;
    border-radius: 5px;
    background-color: var(--btn-color);
    box-shadow: var(--btn-shadow);
    font-family: 'SUIT-SemiBold';
    font-size: 16px;
    line-height: 33px;
    width: 76px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.sel_btn:hover {
   background-color: var(--btn-hover);
}

.mkname{
   height: 29px;
    font-size: 17px;
    font-family: 'SUIT-Medium';
    border-bottom: 1px solid #e8e8e8;
    padding: 0 4px;
}

.btn_wrap{
   height: 33px;
    margin: 25px 0 12px;
}

.del_btn{
   width: 56px;
    border-radius: 5px;
    background-color: var(--btn-color);
    box-shadow: var(--btn-shadow);
    font-family: 'SUIT-SemiBold';
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.del_btn:hover {
   background-color: var(--btn-hover);
}

.item_detail{
   height: 88px;
    margin-top: 13px;
}

.id_box1{
   display:inline-block;
   vertical-align:top;
   width: 200px;
}
.ci{
   display:inline-block;
   vertical-align:top;
}

.ci img{
   width: 22px;
   height: 22px;
   cursor: pointer;
}

.i_image{
   display:inline-block;
   vertical-align:top;
}

.i_image img{
   width: 70px;
    height: 70px;
    margin: 0 10px;
}

.i_name{
   display: inline-block;
    vertical-align: top;
    font-family: 'SUIT-Light';
    margin-left: 13px;
    font-size: 18px;
}

.id_box2{
   display:inline-block;
   vertical-align:top;
   width:500px;
   border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(18 18 18 / 6%) 0px 0px 5px 1px;
}

.idb_detail1{

}

.unit{
   display:inline-block;
   vertical-align:top;
   font-family: 'SUIT-Light';
    margin: 10px;
}

.gbn{
   display:inline-block;
   vertical-align:top;
   color: rgb(233, 235, 238);
}
.close{
   display:inline-block;
   vertical-align:top;
   margin: 8px;
}

.price1{
   display:inline-block;
   vertical-align:top;
   font-family: 'SUIT-Light';
   margin: 8px;
   font-size: 15px;
}

.idb_detail2 {
	padding-left: 20px;
}

.plmi {
   display:inline-block;
   vertical-align:top;
   width:28px;
   height:28px;
}  

.num {
   display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    color: #545454;
}

.b_btn{
   text-align: center;
   margin-top: 40px;
}

.new_btn{
   display: inline-block;
    vertical-align: top;
    width: 152px;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: var(--btn-color);
    box-shadow: var(--btn-shadow);
    font-family: 'SUIT-SemiBold';
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    font-size: 17px;
    cursor: pointer;
}

.new_btn:hover {
   background-color: var(--btn-hover);
}