@charset "UTF-8";

/* 
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록
   #ff8800 연한 주황
   #ff6100ff 진한 주황 
   
   버튼 색
   background-color: #8fc4df;
   
   버튼 호버 색
   background-color: #82b4cd;
   
   버튼 박스쉐도우
   box-shadow: 1px 2px 3px 0 rgb(0 0 0 / 16%);
*/



/*
	중앙
*/

.center {
   width: 1100px;
   margin: 0px auto 100px;
   /* 푸터 하단 고정: 100% 에서 헤더와 푸터 높이를 뺌 */
   min-height: calc(100% - 376px);
}

/*
	페이지 이름
*/
.main_title {
	margin: 2px 0 60px 0;
    width: 165px;
    height: 60px;
    line-height: 78px;
    font-size: 20px;
    font-family: 'SUIT-SemiBold';
    border-bottom: 4px solid #6cafd9;
    padding-left: 10px;
}


/*
	상단 버튼
*/
.t_btn_wrap {
   height : 40px;
   width : 1100px;
   position: absolute;
   top: -45px;
}

.ed_btn {
	font-family: 'SUIT-SemiBold';
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    width: 62px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background-color: #6cafd9;
    margin-right: 5px;
    cursor: pointer;
}

.ed_btn:hover {
	background-color: #629fc5;
}


/*
	가운데 내용물
*/
.center {
	width: 1100px;
	margin: 0 auto 100px;
	min-height: calc(100% - 306px); /* 푸터 하단 고정 위해 */
}

.contents {
	width: 1100px;
	min-height: 800px;
	vertical-align: top;
	margin-top: 50px;
	background-color: white;
	position: relative;
}

.sec0 {
	width: 100%;
	height: 580px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
} 

.main_img {
	float: left;
    display: inline-block;
    width: 560px;
    height: 580px;
    position: relative;
}

.main_img img {
	border: none;
    vertical-align: top;
    border-radius: 15px;
    margin: 40px 30px;
}

.views_count {
	width: 80px;
    height: 23px;
    line-height: 23px;
    background-color: aliceblue;
    opacity: .6;
    position: absolute;
    top: calc(100% - 30px - 40px - 5px);
    left: calc(50% - 40px);
    border-radius: 10px;
}

.views_count span {
	display: inline-block;
	vertical-align: top;
	font-family: 'SUIT-Medium';
    font-size: 15px;
    color: black;
    opacity: .7;
    margin-left: 5px;
}

.views_img {
	width: 21px;
	height: 21px;
	display: inline-block;
	background: url(../../images/views.png) no-repeat 0/21px;
	opacity: .5;
    margin-left: 4px;
}

.main_info {
	display: inline-block;
    vertical-align: top;
    width: 480px;
    height: 500px;
    margin: 40px 20px;
    text-align: center;
    position: relative;
}

.upload_date {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 13px;
}

.bookmark {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: calc(100% - 35px);
    cursor: pointer;
}

.cook_title {
	font-size: 24px;
    color: #333;
    margin: 50px 0;
    font-family: 'SUIT-Medium';
}

.cook_material {
	border-collapse: collapse;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 284px;
	line-height: 40px;
	text-align: left;
}

.cook_material th, .cook_material td {
	width: 240px;
	height: 40px;
}

.material_title, .sec_title {
    font-family: 'SUIT-Medium';
	font-size: 17px;
    font-weight: 400;
}

.m_t_icon {
	display: inline-block;
	vertical-align: middle;
	background: #ffffff url(../../images/list4.png) no-repeat 5px/30px;
	margin: 5px;
	width: 40px;
	height: 40px;
	font-size: 15px;
	opacity: 0.7;
}

.mini_title {
	font-style: italic;
	font-family: 'SUIT-Light';
    color: #878787;
    font-weight: 300;
    margin-left: 5px;
}

.material_list {
    width: 480px;
    height: 170px;
    font-size: 15px;
    display: inline-block;
} 

.material_list tr {
	height: 30px;
} 


.material_list span {
    display: inline-block;
    vertical-align: middle;
    height: 40px;
}

.m_l_txt {
	color: #333;
    width: 76px;
    padding-right: 10px;
}

.m_l_txt a {
	color: #333;
    width: 76px;
    padding-right: 10px;
	text-decoration: underline;
}

.m_l_txt a:hover {
	font-family: 'SUIT-SemiBold';
}

.m_l_border {
	font-size: 15px;
    background: url(../../images/line-through.png) 50% 50%;
    width: 52px;
    opacity: 0.1;
}

.m_l_value {
	padding-left: 20px;
	color: #b3b3b3;
}

.sec1, .sec2 {
	padding: 0 20px;
	font-size: 14px;
	text-align: left;
    padding-bottom: 40px;
	border-bottom: 1px solid #ddd;
}

.sec_title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sec_contents {
	display: inline-block;
    vertical-align: top;
	width: 100%;
	height: 100%;	
}


.writer {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #6cafd975;
	border-radius: 15px;
	height: 70px;
	width: 250px;
	margin-top: 10px;
	text-align: 70px;
}

.writer .sec_title {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 12px 0 1px 0;
}

.writer_icon {
	display: inline-block;
    vertical-align: top;
    width: 55px;
    height: 55px;
    margin: 5px 0 0 20px;
}

.writer_icon img {
	transition: all ease 1s;
    border-radius: 20px;
}

.writer_icon img:hover {
	transform : rotate(360deg);
}

.writer_info {
	display: inline-block;
    vertical-align: top;
    width: 130px;
    height: 100%;
    text-align: left;
    padding-left: 20px;
}

.writer_name {
	display: inline-block;
    vertical-align: bottom;
    font-size: 16px;
    font-family: 'SUIT-Medium';
    color: #808080;
    height: 23px;
}

.writer_name span {
    font-size: 18px;
	color: pink;
	margin-right: 2px;
}

.contents_info {
	display: inline-block;
    vertical-align: top;
    
	text-indent: 10px;
	font-size: 15px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.sec1_img_wrap {
	display: inline-block;
    vertical-align: top;
    width: 330px;
    height: 330px;
    background: url(../../images/main.jpg) no-repeat 0/330px;
    margin: 10px;	
}

.sec2_txt {
	margin: 10px 10px 40px;
    line-height: 30px;
}

/*
	게시글 추천
*/
.sec3 {
	font-family: 'SUIT-Medium';
	text-align: center;
	font-size: 17px;
	color: #808080;
	height: 130px;
	padding-top: 28px;
}

.like_count {
	width: 95px;
	height: 53px;
	background-color: #6cafd9;
	border-radius: 15px;
	color: white;
	font-size: 20px;
	line-height: 70px;
	margin: 5px auto 30px;
	box-shadow: 2px 2px 5px 1px #afafaf;
	position: relative;
	cursor: pointer;
}

.like_count:hover {
	background-color: #629fc5;
}


/*
	댓글
*/
.comments {
	background-color: white;
	margin-top: 20px;
	padding: 30px 50px 0;
	min-height: 320px;
	border: 1px solid #cacaca;
}

.comments .sec_title {
	margin-top: 0;
}

.comments .sec_title span {
	color: #9c9c9c;
	margin-left: 5px;
}

.reply_wrap {
	margin-bottom: 20px;
    width: 1000px;
    height: 70px;
    display: table;
    border-collapse: collapse;
    box-shadow: 1px 1px 4px 1px #eee;
    border-radius: 4px;
}

.reply_wrap textarea {
	border: 1px solid #bdbdbd;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 870px;
    height: 70px;
    padding: 10px;
    display: table-cell;
    z-index: 2;
    float: left;
    font-family: 'SUIT-Light';
}

.c_btn_wrap {
	vertical-align: middle;
    display: table-cell;
    width: 110px;
    height: 89px;
    text-align: center;
}

.c_btn_wrap:hover {
	background-color: hsl(203deg 59% 97%);
}

.reply_btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    font-family: 'SUIT-Medium';
    border: 1px solid #bdbdbd;
    border-left-style: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 15px;
}

.one_comment {
	padding: 10px;
	border-bottom: 1px solid #cacaca;
	min-height: 60px;
}

.comment_left {
	width: 45px;
    height: 60px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.comment_left img {
	position: absolute;
	top: 0;
	left: 0;
}

.comment_right {
	display: inline-block;
    vertical-align: top;
    width: calc(100% - 49px);
    font-size: 13px;
}

.c_r_top {
	text-align: left;
	height: 20px;
	line-height: 20px;
	margin-bottom: 5px;	
}

.comment_writer {
	font-family: 'SUIT-Medium';
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    font-size: 14px;
}

.c_r_top span {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	color: #cacaca;
	margin-right: 5px;
}

.c_r_btn {
	display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 18px;
    text-align: center;
    cursor: pointer;
    background-color: #fefefe;
    border: 1px solid #ababab;
    font-family: 'SUIT-Light';
    margin-left: 5px;
    font-size: 12px;
    color: #808080;
    border-radius: 3px;
    padding: 0;
}

.comments_page {
	height: 70px;
	text-align: center;
	margin-top: 30px;
}

.comments_page a, .comments_page strong {
	overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    min-width: 30px;
    height: 30px;
    margin: 0 2px;
    padding: 0 2px;
    line-height: 30px;
    color: #666;
    border-radius: 0;
}

.comments_page strong {
	position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    cursor: default;
}

.comments_page a:hover {
	font-family: 'SUIT-SemiBold';
	text-decoration: underline;  
}

.comments_page .control {
	width: 30px;
	height: 30px;
	text-decoration: none;
	border: 1px solid #ccc;
	background: url(../../images/btn-pagination.png) no-repeat 0 0;
	padding: 0px;
}

.comments_page .active {
    color: #2E78A6;
    border: 1px solid #6cafd9;
    font-family:'SUIT-SemiBold';
    width: 30px;
    height: 30px;
    position: relative;
}

.comments_page .control.first {
    margin: 0;
    background-position: 0 0;
}

.comments_page .control.prev {
    margin: 0 6px 0 0;
    background-position: -30px 0;
}

.comments_page .control.next {
    margin: 0 0 0 6px;
    background-position: -60px 0;
}

.comments_page .control.last {
    margin: 0;
    background-position: -90px 0;
}



/*
	하단 버튼
*/
.b_btn_wrap {
   height : 40px;
   width : 1100px;
   margin : 20px auto 0;
   text-align: center;
}

.blank_btn, .blue_btn {
	display: inline-block;
	vertical-align: middle;
	font-family:'SUIT-SemiBold';
	font-size : 16px;
	line-height : 33px;
	text-align : center;
	border-radius : 5px;
	margin: 5px;
	cursor: pointer;
}

.blank_btn {
	border: 1px solid #878787;	
	/*background-color: #e3e3e3;*/
	color: #878787;
	width : 60px;
	height: 31px;
}

.blue_btn {
	background-color : #6cafd9;
	color : white;
	width : 62px;
	height: 33px;
}

.blank_btn:hover {
	border: 1px solid #ff8800;
}

.blue_btn:hover {
	background-color: #629fc5;
}
