@charset "UTF-8";

/*
 background-color: #6cafd9;
   #2E78A6 찐한파랑 
   #6cafd9 하늘 
   #D5F2E2 배경
   #9BD991 연두
   #70BF5A 초록
   #ff8800 연한 주황
   #ff6100ff 진한 주황 */



/*
	중앙
*/

.center {
   width: 1100px;
}

/*
	페이지 이름
*/
.main_title {
	margin-bottom: 60px;
}



/* 
	내용
*/
.list_box {
	border-top: 2px solid #808080;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    position: relative;
}

.list_box span {
	font-size: 13px;
	color: #b3b3b3;
	line-height: 39px;
	margin-left: 5px;
}

.list_box table {
    background-color: white;
    width: 1100px;
    height: 460px;
    border-bottom: 1px solid #bcbcbc;
}

.write_div {
   height : 40px;
   width : 1100px;
   margin : 5px 70px 0px 0px;
}

.write_btn {
	font-family:'SUIT-SemiBold';
   font-size : 16px;
   line-height : 28px;
   width : 60px;
   text-align : center;
   color : white;
   border-radius : 5px;
   background-color : #6cafd9;
   margin-right: 85px;
}

.best {
   width : 1060px;
   height : 350px;
   margin : 30px 0;
   padding: 0px 20px;
   background-color: #f7f7f7;
    border: 1px solid #cacaca;
    box-shadow: 1px 1px 7px -1px #cacaca;
}

.best_title {
	display: inline-block;
	vertical-align: top;
	width: 1040px;
	font-family: 'SUIT-SemiBold';
	font-size: 16px;
	color: #606060;
	height: 40px;
	line-height: 40px;
	margin: 15px 0px 0px 40px;
}

.best_side {
	display: inline-block;
    vertical-align: top;
    width: 36px;
    height: 280px;
    margin-top: 15px;
    text-align: center;
}

.best_btn {
	display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 95px 0px;
    border-radius: 25px;
    background-color : var(--btn-color);
	box-shadow: var(--btn-shadow);
    color: white;
    font-size: 25px;
    font-family: 'SUIT-Bold';
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #cacaca);
}

.best_btn:hover {
	background-color: var(--btn-hover);
}

.best_box {
	display: inline-block;
	vertical-align: top;
	width: 976px;
	height: 290px;
	margin-top: 5px;
}

.best_content {
	display: inline-block;
	vertical-align: top;
	width: 320px;
	height: 290px;
	position: relative;
}


.best_img {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	height: 160px;
	margin: 10px 30px;
}

.best_img div {
	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.best_content a:hover, .img_link:hover, .subject a:hover, .subject_write a:hover {
	opacity: 0.7;
}


.best_int {
	display: inline-block;
	vertical-align: top;
	width: 260px;
	margin: 5px 30px 0px;
	padding-left: 1px;
}

.best_int a {
	font-size: 15px;
	font-family: 'SUIT-Medium';
	color: #404040;
}

.best_int span {
	font-size: 13px;
	color: #a0a0a0;
	font-family: 'SUIT-Medium';
}

.best_medal {
	position: absolute;
	top: 0px;
	left: 15px;
	filter: drop-shadow(1px 1px 2px #226);
	z-index: 100;
}


.best_content:hover .best_medal img {
	transform: rotate(15deg);
}


.gallery {
	display: inline-block;
	vertical-align: top;
     width : 1100px;
     height: 960px;
     margin-top: 20px;
}

.gallery_box {
	display: inline-block;
    vertical-align: top;
    width: 215px;
    height: 250px;
    background-color: #fbfbfb;
    padding: 9px 17px;
    margin: 10px 10px 40px;
    border: 1px solid #cacaca;
    box-shadow: 1px 1px 7px -1px #cacaca;
}

.gallery ul {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	list-style:none;
}

.img_link {
	display: inline-block;
	vertical-align: top;
	width: 215px;
	height: 150px;
	margin: 10px 0px;
}

.img_link div {
	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.description {
	display: inline-block;
	vertical-align: top;
	width: 212px;
	height: 70px;
	padding-left: 1px;
	margin-top: 5px;
}

.subject {
	display: inline-block;
	vertical-align: top;
	font-family: 'SUIT-Medium';
	margin: 2px 0px;
}

.subject_write {
	font-family: 'SUIT-Medium';
	text-align: center;
	text-decoration: none;
	font-style: italic;
}

.subject a, .subject_write a {
	color: #808080;
}

.subject span {
	font-size: 12px;
	color: #a0a0a0;
}

/* .subject a:hover {
	opacity: 0.7;
} */

.mini_icon {
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 16px;
}

.mini_icon img {
	max-height: 100%;
	margin-top: 3px;
}

strong {
	font-size: 12px;
	font-weight: normal;
	color: #808080;
}

em {
	font-size: 11px;
	color: #cacaca;
}

